<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt-br">

<head>
	<title>GESCON - Cadastrar contrato</title>

	<style>
        body {
            background-color:rgba(133, 133, 133, 0.233);
            color:rgb(0, 0, 0);
            font: normal 14pt arial;
        }
    </style>

</head>
<body>
	<div style="background-color: rgba(4, 0, 255, 0.425)">
	<h1>Cadastro de Contratos</h1>
	</div>
	<form method="post">
		Cliente: <input type="text" value"" name="cliente"/>
		Nome: <input type="text" value"" name="nome"/>
		Formalização: <input type="date" value"" name="dataForm"/>
		Início: <input type="date" value"" name="dataIniVig"/>
		Fim: <input type="date" value"" name="dataFimVig"/>
		
		<button type="submit">Salvar</button>
		
	</form>

</body>


</html>