<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt-br">
<head>
	<title>GESCON - Gerenciamento de Contratos</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <link rel="stylesheet" href="style/styleCss.css"/>
	  
	<style>
        body {
            background-color:rgba(133, 133, 133, 0.233);
            color:rgb(0, 0, 0);
            font: normal 14pt arial;
        }
    </style>


</head>
<body>
	
	<div style="background-color: rgba(4, 0, 255, 0.425)">
	<h1>GESCON - Gerenciamento de Contratos</h1>
	</div>
	<h3>Gerencie e cadastre seus contratos</h3>
	
	<header style="font-size: 12px;">
		<nav class="menu">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Lista de Contratos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/CadastrarContrato" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar contrato</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
	<footer style="font-size: 10px;">
        <p>&copy; 2020 Henrique Falc&atilde;o</p>
    </footer>

</body>


</html>